
div { 
    width: 960px;
    margin: 0 auto;
    background-color: #ddd;
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    border: 2px solid #000;
    background-color: white;
}

img {
    margin-bottom: 10px;
}